@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Roboto-Regular.woff2') format('woff2');
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.custom-nav-link {
    border-left-color: var(--chakra-colors-customLime-300);
    font-size: 16px;
    line-height: 24px;
    text-decoration: 'none';
    padding: 3px 8px;
}

.custom-nav-link:hover {
    border-left-color: transparent;
    box-shadow: none;
}

.custom-nav-item:hover {
    background-color: var(--chakra-colors-customLime-50);
}

.custom-nav-item:hover > .custom-nav-link:hover {
    border-left-color: transparent;
    box-shadow: none;
}

.wideGrid {
    gap: 24px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1440px) {
    .wideGrid {
        gap: 16px;
    }
}

@media (max-width: 768px) {
    .wideGrid {
        gap: 16px;
        margin-bottom: 16px;
    }
}

@media (max-width: 360px) {
    .wideGrid {
        gap: 12px;
        margin-bottom: 12px;
    }
}
.lowGrid {
    gap: 24px 16px;
    margin-bottom: 16px;
}
