@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Roboto-Regular.woff2') format('woff2');
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.custom-nav-link {
    display: block;
    padding: 3px 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    border-left: 1px solid #c4ff61;
    transition: all 0.2s ease;
}

.custom-nav-link.active {
    font-weight: 700;
    border-left: 1px solid #c4ff61;
    box-shadow: -8px 0 0 0 #c4ff61;
}

.custom-nav-link:hover {
    border-left: 1px solid transparent;
    box-shadow: none;
}
